!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  =haml :head, :layout => false
  =haml :jslibs, :layout => false
  =haml :css, :layout => false
  =haml :local_js, :layout => false
  %body
    #container
      =yield
